

<form class="form" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="content-box">
        <h2>Patient Information?</h2>
        <div class="field">
            <label class="label">Patient Name {{patientForm.get('name')}}</label>
            <input type="text"  class="input" formControlName="name" placeholder="full patient name" 
                [class.invalid]="patientForm.get('name')?.invalid && (patientForm.get('name')?.dirty || patientForm.get('name')?.touched)"
            />
            <span
                *ngIf="patientForm.get('name')?.hasError('required') && (patientForm.get('name')?.dirty || patientForm.get('name')?.touched)"
                class="error">
                    This field is required.
            </span>

        </div>
    
        <div class="field">
            <label>Date Of Birth</label>
            <input type="date" formControlName="dateOfBirth"/>

        </div>

        <div class="field">
            <label>Phone Numer</label>
            <input type="tel" formControlName="contactInfo" placeholder="999-999-9999"/>
            <span
                *ngIf="patientForm.get('name')?.hasError('required') && (patientForm.get('name')?.dirty || patientForm.get('name')?.touched)"
                class="error">
                    This field is required.
            </span>
        </div>

        <div class="select">
            <label>Referral Reason</label>
            <select  [formControl]="selectedReason" formControlName="referralReason" (change)="onDropDownChange()">
                <label>Reason for Referral</label>
                <option value="" >Select a Referral Reason</option>
                <option value="Certain Death" >Certain Death</option>
                <option value="Second Opinion" >Second Opinion</option>
                <option value="Other" >Other</option>
            </select>

        </div>

        <div class="select">
            <label>Referral Status</label>
            <select [formControl]="selectedStatus" formControlName="referralStatus" (change)="onDropDownChange()">
                <label>Reason Status</label>
                <option value="" >Referral Status</option>
                <option value="Accepted">Accepted</option>
                <option value="Declined" >Declined</option>
                <option value="Pending">Pending</option>
            </select>
           

        </div>

        <div>
            <button type="submit">{{buttonText}}</button>
        </div>
    </div>

</form>


