
<app-header></app-header>
<form class="form" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="content-box">
        <h2>

            Patient Information
        </h2>
        <div class="field">
            <label class="label">Patient Name {{patientForm.get('name')?.value}}</label>
            <input type="text"  class="input" formControlName="name" placeholder="full patient name" />
            <div class="invalid" *ngIf="patientForm.controls['name'].invalid && (isFormSubmitted || patientForm.controls['name'].touched ||patientForm.controls['name'].dirty)">
                <span *ngIf="patientForm.controls['name'].errors?.['required']">Name is required</span>

            </div>
        </div>


       <div class="field">
            <label>Date Of Birth</label>
            <input type="date" formControlName="dateOfBirth" />
            <div class="invalid" *ngIf="patientForm.controls['dateOfBirth'].invalid && (isFormSubmitted || patientForm.controls['dateOfBirth'].touched ||patientForm.controls['dateOfBirth'].dirty)">
                <span *ngIf="patientForm.controls['dateOfBirth'].errors?.['required']">DOB is required</span>

            </div>

        </div> 

        <div class="field">
            <label>Phone Number</label>
            <input type="tel" formControlName="contactInfo" placeholder="999-999-9999"/>
            <div class="invalid" *ngIf="patientForm.controls['contactInfo'].invalid && (isFormSubmitted || patientForm.controls['contactInfo'].touched ||patientForm.controls['contactInfo'].dirty)">
                <span *ngIf="patientForm.controls['contactInfo'].errors?.['required']">Phone is required</span>

            </div>
            
        </div> 
        

        <div class="select">
            <label>Select Referral Reason:</label>
            <select formControlName="referralReason">Choose Reason
                <option selected disabled value="" >Select a Referral Reason</option>
                <option value="Certain Death" >Certain Death</option>
                <option value="Second Opinion" >Second Opinion</option>
                <option value="Other" >Other</option>
            </select>
            <div class="invalid" *ngIf="patientForm.controls['referralReason'].invalid && (isFormSubmitted || patientForm.controls['referralReason'].touched ||patientForm.controls['referralReason'].dirty)">
                <span *ngIf="patientForm.controls['referralReason'].errors?.['required']">Reason required</span>

            </div>

        </div>

        <div class="select">
            <label>Select Referral Status:</label>
            <select formControlName="referralStatus">Choose Reason
                <option selected disabled value="" >Select a Referral Status</option>
                <option value="Accepted">Accepted</option>
                <option value="Declined" >Declined</option>
                <option value="Pending">Pending</option>
            </select>
            <div class="invalid" *ngIf="patientForm.controls['referralStatus'].invalid && (isFormSubmitted || patientForm.controls['referralStatus'].touched ||patientForm.controls['referralStatus'].dirty)">
                <span *ngIf="patientForm.controls['referralStatus'].errors?.['required']">Status required</span>

            </div>


        </div>
        
        <div class="field">
            <label class="label">Patient Notes {{patientForm.get('name')?.value}}</label>
            <textarea type="text" formControlName="note" placeholder="Add note here"></textarea>
        
        </div>

        <div>
            <button type="submit" >{{buttonText}}</button>
        </div>
    </div>

</form>
<p>{{patientForm.status}}</p>



