
<mat-toolbar>
    <span>Welcome to your Dashboard!</span>
    <span></span>
    <br>
    <a routerLink="/patient">
        <button mat-raised-button color="accent">Add a Patient Referral</button>
    </a>
  </mat-toolbar>
<div>
    <div class="content-box" *ngFor="let patient of patients">
        <h3>{{patient.name}}</h3>
        <a routerLink="/patients/{{patient.id}}">
            <button mat-raised-button color="accent">Patient Details</button>
        </a>
        <router-outlet></router-outlet>
        
        
    </div>
</div>