
<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Welcome to your Dashboard</span>
        <span class="example-spacer"></span>
        <a routerLink="/patient">
            <button  mat-raised-button color="accent">
                Add New Patient
              </button>

        </a>
        
       
      </mat-toolbar>

    <div class="content-box" *ngFor="let patient of patients">
        <h3>{{patient.name}}</h3>
        <a routerLink="/patients/{{patient.id}}">
            <button mat-raised-button color="accent">Patient Details</button>
        </a>
        <button mat-raised-button color="accent">Delete Patient</button>
        <router-outlet></router-outlet>
        
        
        
    </div>
</div>